@font-face {
  font-family: nantes;
  src: url(/fonts/nantes/Nantes-Regular.ttf);
}

.font-nantes {
  font-family: nantes, sans-serif;
}

@font-face {
  font-family: messina-sans;
  src: url(/fonts/messina-sans/MessinaSans-Regular.ttf);
}

.font-messina-sans {
  font-family: messina-sans, sans-serif;
}

@font-face {
  font-family: neue-haas-unica;
  src: url(/fonts/NeueHaasUnica/NeueHaasUnica-Regular.ttf);
}

.font-neue-haas-unica {
  font-family: neue-haas-unica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
} */

.fixed-header {
  position: fixed;
  top: 0;
  background-color: #2042b6;
  color: #fff;
  width: 100%;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #f3f3f3;
  color: #191618;
  height: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 8px;
}

.share-btn-green {
  border-color: #afcd80;
}

.share-btn-white {
  border-color: white;
}

.download-btn-blue {
  border-color: #115cd9;
}

.download-btn-white {
  border-color: white;
}

#chart {
  border: 1px solid #9fa0a1;
  margin-top: 20px;
  width: 100%;
  height: 350px;
  border-radius: 6px;
  background-color: white;
}

.apexcharts-legend .apexcharts-align-center .apx-legend-position-bottom {
  padding-top: 25px;
}

.apexcharts-legend-series {
  display: flex;
  justify-items: center;
  margin-top: 25px;
}

.apexcharts-legend-marker {
  border-radius: 0px !important;
  margin-left: 5px;
}

tbody tr:nth-child(odd) {
  background-color: #f3f3f3;
  border-radius: 6px;
}
tbody tr:nth-child(even) {
  background-color: #fff;
}

tbody tr:nth-child(odd) td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tbody tr:nth-child(odd) td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* changing scrollbar style  */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #2042b6;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #2042b6;
}

.custom-select {
  appearance: none;
  background: transparent;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 10px;
  height: 10px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"%3E%3Cpath fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 8l4 4 4-4"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-wrapper {
  position: relative;
}

/* slider style here  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-left {
  left: 0px;
}

.swiper-button-right {
  left: 0px;
}
